In [18]:
import pandas as pd
from datetime import datetime, timedelta

In [5]:
df = pd.read_csv("data/trips.csv")
df.head(2)

,starttime,stoptime,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,route_id,direction,trainName,trainNumber,Region,Train,RegionNumber,TrainNumber
0,1/4/16 3:15,1/4/16 3:39,1440,WAS,Washington Union Station,38.896993,-77.006422,BWI,BWI Marshall Airport Amtrak,39.192362,-76.6943,1,0,Northeast Regional,190,Northeast Corridor,Northeast Regional,1,2
1,1/4/16 3:15,1/4/16 3:39,1440,WAS,Washington Union Station,38.896993,-77.006422,BWI,BWI Marshall Airport Amtrak,39.192362,-76.6943,1,0,Northeast Regional,190,Northeast Corridor,Northeast Regional,1,2

In [6]:
# id 11 = amtrak
df['type_id'] = 11

In [7]:
df.starttime = pd.to_datetime(df.starttime)

In [8]:
df.stoptime = pd.to_datetime(df.stoptime)

In [11]:
df['tripduration'] = df['tripduration'].astype(int)

In [12]:
df['start_lat'] = df['start station latitude'].astype(float)
df['start_lon'] = df['start station longitude'].astype(float)
df['end_lat'] = df['end station latitude'].astype(float)
df['end_lon'] = df['end station longitude'].astype(float)

In [13]:
df.dtypes

starttime                  datetime64[ns]
stoptime                   datetime64[ns]
tripduration                        int64
start station id                   object
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                     object
end station name                   object
end station latitude              float64
end station longitude             float64
route_id                            int64
direction                           int64
trainName                          object
trainNumber                         int64
Region                             object
Train                              object
RegionNumber                        int64
TrainNumber                         int64
type_id                             int64
start_lat                         float64
start_lon                         float64
end_lat                           float64
end_lon                           float64
dtype: object

In [38]:
output = df[['type_id','starttime','stoptime','tripduration','start_lat','start_lon','end_lat','end_lon']]

In [39]:
output.head()

,type_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon
0,11,2016-01-04 03:15:00,2016-01-04 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
1,11,2016-01-04 03:15:00,2016-01-04 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
2,11,2016-01-04 03:15:00,2016-01-04 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
3,11,2016-01-04 03:15:00,2016-01-04 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
4,11,2016-01-04 03:15:00,2016-01-04 03:38:00,1380,38.896993,-77.006422,39.192362,-76.6943

Substitute 2016-01-04 with 2015-01-05 and

Substitute 2016-01-05 with 2015-01-06

In [40]:
output.starttime = output.starttime.copy() - timedelta(days=364)

In [41]:
output.stoptime = output.stoptime.copy() - timedelta(days=364)

In [42]:
output = output[output.starttime > pd.to_datetime('2015-01-05 00:00:00')]
output = output[output.starttime < pd.to_datetime('2015-01-06 04:00:00')]

In [43]:
output.head()

,type_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon
0,11,2015-01-05 03:15:00,2015-01-05 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
1,11,2015-01-05 03:15:00,2015-01-05 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
2,11,2015-01-05 03:15:00,2015-01-05 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
3,11,2015-01-05 03:15:00,2015-01-05 03:39:00,1440,38.896993,-77.006422,39.192362,-76.6943
4,11,2015-01-05 03:15:00,2015-01-05 03:38:00,1380,38.896993,-77.006422,39.192362,-76.6943

In [44]:
output.tail()

,type_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon
83664,11,2015-01-05 21:56:00,2015-01-05 22:10:00,840,41.635595,-72.765274,41.768761,-72.681314
83665,11,2015-01-05 22:10:00,2015-01-05 22:19:00,540,41.768761,-72.681314,41.852013,-72.642253
83666,11,2015-01-05 22:19:00,2015-01-05 22:25:00,360,41.852013,-72.642253,41.913956,-72.626101
83667,11,2015-01-05 22:25:00,2015-01-05 22:50:00,1500,41.913956,-72.626101,42.105987,-72.592905
83668,11,2015-01-05 22:50:00,2015-01-05 22:50:00,0,42.105987,-72.592905,42.105987,-72.592905

In [45]:
output.shape

(13075, 8)

In [46]:
output.to_csv("amtrak_monday_raw.csv")

In [48]:
%%bash

awk -F"," -v OFS="," '{ $1="" ; $0=substr($0,2) } 1' amtrak_monday_raw.csv > amtrak_monday.csv