# Visualizing NYC Bus Timetables

Data source:

http://web.mta.info/developers/data/nyct/bus/google_transit_bronx.zip

http://web.mta.info/developers/data/nyct/bus/google_transit_brooklyn.zip

http://web.mta.info/developers/data/nyct/bus/google_transit_manhattan.zip

http://web.mta.info/developers/data/nyct/bus/google_transit_queens.zip

http://web.mta.info/developers/data/nyct/bus/google_transit_staten_island.zip

Import libraries.

In [18]:
import pandas as pd
import numpy as np
import datetime as dt

# Brooklyn

### Load GTFS data

In [2]:
agency = pd.read_csv('gtfs/brooklyn/agency.txt')
calendar_dates = pd.read_csv('gtfs/brooklyn/calendar_dates.txt')
calendar = pd.read_csv('gtfs/brooklyn/calendar.txt')
routes = pd.read_csv('gtfs/brooklyn/routes.txt')
shapes = pd.read_csv('gtfs/brooklyn/shapes.txt')
stop_times = pd.read_csv('gtfs/brooklyn/stop_times.txt')
stops = pd.read_csv('gtfs/brooklyn/stops.txt')
trips = pd.read_csv('gtfs/brooklyn/trips.txt')

### Preview the data

In [3]:
agency.head()

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,MTA NYCT,MTA New York City Transit,http://www.mta.info,America/New_York,en,718-330-1234

In [4]:
calendar_dates.head()

           service_id      date  exception_type
0  EN_A7-Weekday-SDon  20170116               2
1  EN_A7-Weekday-SDon  20170220               2
2  EN_A7-Weekday-SDon  20170221               2
3  EN_A7-Weekday-SDon  20170222               2
4  EN_A7-Weekday-SDon  20170223               2

In [5]:
calendar.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,EN_A7-Sunday,0,0,0,0,0,0,1,20170108,20170326
1,EN_A7-Weekday-SDon,1,1,1,1,1,0,0,20170109,20170331
2,EN_A7-Saturday,0,0,0,0,0,1,0,20170114,20170401
3,EN_H7-Weekday,1,1,1,1,1,0,0,20170116,20170116
4,EN_A7-Weekday,1,1,1,1,1,0,0,20170221,20170224

In [7]:
routes.head(2)

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,B1,MTA NYCT,B1,Bay Ridge - Manhattan Beach,via 86th St / Ocean Pkwy,3,http://web.mta.info/nyct/bus/schedule/bkln/b00...,00AEEF,FFFFFF
1,B11,MTA NYCT,B11,Sunset Park - Midwood,via 49th & 50th St / Avenue J,3,http://web.mta.info/nyct/bus/schedule/bkln/b01...,006CB7,FFFFFF

In [8]:
shapes.head(2)

  shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0   B10163     40.621900    -74.028521              10001
1   B10163     40.621997    -74.028681              10002

In [9]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,EN_H7-Weekday-008100_B12_1,01:21:00,01:21:00,801177,1,0,0
1,EN_H7-Weekday-008100_B12_1,01:22:36,01:22:36,301386,2,0,0
2,EN_H7-Weekday-008100_B12_1,01:23:07,01:23:07,301387,3,0,0
3,EN_H7-Weekday-008100_B12_1,01:24:01,01:24:01,301388,4,0,0
4,EN_H7-Weekday-008100_B12_1,01:24:18,01:24:18,301389,5,0,0

In [11]:
stops.head()

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,300000,ORIENTAL BL/MACKENZIE ST,NaN,40.578251,-73.939743,NaN,NaN,0,NaN
1,300002,ORIENTAL BL/JAFFRAY ST,NaN,40.578068,-73.943031,NaN,NaN,0,NaN
2,300003,ORIENTAL BL/HASTINGS ST,NaN,40.577961,-73.944664,NaN,NaN,0,NaN
3,300004,ORIENTAL BL/FALMOUTH ST,NaN,40.577721,-73.946205,NaN,NaN,0,NaN
4,300006,ORIENTAL BL/DOVER ST,NaN,40.577354,-73.949554,NaN,NaN,0,NaN

In [12]:
trips.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
0,B12,EN_H7-Weekday,EN_H7-Weekday-008100_B12_1,LEFFRTS GDNS OCEAN AV,1,B120114
1,B12,EN_H7-Weekday,EN_H7-Weekday-011000_B12_1,EAST NY ALABAMA AV,0,B120113
2,B12,EN_H7-Weekday,EN_H7-Weekday-016100_B12_1,LEFFRTS GDNS OCEAN AV,1,B120114
3,B12,EN_H7-Weekday,EN_H7-Weekday-019000_B12_1,EAST NY ALABAMA AV,0,B120113
4,B12,EN_H7-Weekday,EN_H7-Weekday-012100_B12_2,LEFFRTS GDNS OCEAN AV,1,B120114

### Merge calendar, service_id and trip_id information

Join calendar and trips on service_id = trip_id.

In [13]:
service_trip_id = pd.merge(calendar[['service_id']],trips[['service_id', 'trip_id']])
service_trip_id.head()

     service_id                      trip_id
0  EN_A7-Sunday  EN_A7-Sunday-060000_B84_201
1  EN_A7-Sunday  EN_A7-Sunday-063000_B65_101
2  EN_A7-Sunday  EN_A7-Sunday-066000_B84_201
3  EN_A7-Sunday  EN_A7-Sunday-069000_B65_101
4  EN_A7-Sunday  EN_A7-Sunday-072000_B84_201

Join calendar with trip_id.

In [14]:
calendar = pd.merge(calendar,service_trip_id)
calendar.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date,trip_id
0,EN_A7-Sunday,0,0,0,0,0,0,1,20170108,20170326,EN_A7-Sunday-060000_B84_201
1,EN_A7-Sunday,0,0,0,0,0,0,1,20170108,20170326,EN_A7-Sunday-063000_B65_101
2,EN_A7-Sunday,0,0,0,0,0,0,1,20170108,20170326,EN_A7-Sunday-066000_B84_201
3,EN_A7-Sunday,0,0,0,0,0,0,1,20170108,20170326,EN_A7-Sunday-069000_B65_101
4,EN_A7-Sunday,0,0,0,0,0,0,1,20170108,20170326,EN_A7-Sunday-072000_B84_201

Here's what the stop_times table looks like:

In [15]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,EN_H7-Weekday-008100_B12_1,01:21:00,01:21:00,801177,1,0,0
1,EN_H7-Weekday-008100_B12_1,01:22:36,01:22:36,301386,2,0,0
2,EN_H7-Weekday-008100_B12_1,01:23:07,01:23:07,301387,3,0,0
3,EN_H7-Weekday-008100_B12_1,01:24:01,01:24:01,301388,4,0,0
4,EN_H7-Weekday-008100_B12_1,01:24:18,01:24:18,301389,5,0,0

### Add abritrary arrival and departure dates to timetables

Define a function to add arrival dates to stop_times tables. We will use 1/5/15 as the start date because that is the date we are currently using to visualize taxi trips. This code deals with arrival times > 24 hours and converts them to 1/6/15.

In [39]:
arbitrary_dates = ['1/5/2015', '1/6/2015']

In [41]:
def add_arrival_date(df, dates = arbitrary_dates):
    df = df.copy()
    arrival_date = []
    arrival_time = []

    for i in df['arrival_time']:
        hour = i[:i.find(':')]
        minute = i[i.find(':')+1:i.find(':',4)]
        second = i[i.find(':',5)+1:]
        
        if int(hour) < 24:
            arrival_date.append(dates[0])
            arrival_time.append(i)
        elif 24 <= int(hour) < 48:
            arrival_date.append(dates[1])
            hour = int(hour) - 24
            arrival_time.append(str(hour)+":"+minute+":"+second)
        else:
            arrival_date.append('NA')
            
    df['arrival_date'] = arrival_date
    df['arrival_time'] = arrival_time
    return df

Define a function to add departure dates to stop_times tables. We will use 1/5/15 as the start date because that is the date we are currently using to visualize taxi trips. This code deals with departure times > 24 hours and converts them to 1/6/15.

In [42]:
def add_departure_date(df, dates = arbitrary_dates):
    df = df.copy()
    departure_date = []
    departure_time = []

    for i in df['departure_time']:
        hour = i[:i.find(':')]
        minute = i[i.find(':')+1:i.find(':',4)]
        second = i[i.find(':',5)+1:]
        
        if int(hour) < 24:
            departure_date.append(dates[0])
            departure_time.append(i)
        elif 24 <= int(hour) < 48:
            departure_date.append(dates[1])
            hour = int(hour) - 24
            departure_time.append(str(hour)+":"+minute+":"+second)
        else:
            departure_date.append('NA')
            
    df['departure_date'] = departure_date
    df['departure_time'] = departure_time
    return df

### Get timetables for each day of the week

In [43]:
monday = calendar[calendar['monday'] == 1]
tuesday = calendar[calendar['tuesday'] == 1]
wednesday = calendar[calendar['wednesday'] == 1]
thursday = calendar[calendar['thursday'] == 1]
friday = calendar[calendar['friday'] == 1]
saturday = calendar[calendar['saturday'] == 1]
sunday = calendar[calendar['sunday'] == 1]

Store the results here:

In [44]:
triplist = []

### Monday

In [45]:
monday.head(2)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date,trip_id
1955,EN_A7-Weekday-SDon,1,1,1,1,1,0,0,20170109,20170331,EN_A7-Weekday-SDon-007000_Q24_401
1956,EN_A7-Weekday-SDon,1,1,1,1,1,0,0,20170109,20170331,EN_A7-Weekday-SDon-012000_Q24_401

In [46]:
monday_trips = monday['trip_id']
print "There are ", len(monday_trips), "trips on Monday"
monday_trips.head()

There are  39306 trips on Monday

1955    EN_A7-Weekday-SDon-007000_Q24_401
1956    EN_A7-Weekday-SDon-012000_Q24_401
1957    EN_A7-Weekday-SDon-016000_Q24_401
1958    EN_A7-Weekday-SDon-020000_Q24_401
1959    EN_A7-Weekday-SDon-024500_Q24_401
Name: trip_id, dtype: object

In [49]:
for i in monday_trips:
    df = stop_times[stop_times['trip_id'] == i]
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])


    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction id
    df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')

    # make a new dataframe called legs
    legs = pd.DataFrame()
    legs['starttime'] = df['departure_datetime']
    legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
    legs['tripduration'] = (legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')
    legs['tripduration'] = [int(x) for x in legs['tripduration']]
    legs['start station id'] = df['stop_id']
    legs['start station name'] = df['stop_name']
    legs['start station latitude'] = df['stop_lat']
    legs['start station longitude'] = df['stop_lon']
    legs['end station id'] = legs['start station id'].shift(-1).fillna(method='ffill')
    legs['end station name'] = legs['start station name'].shift(-1).fillna(method='ffill')
    legs['end station latitude'] = legs['start station latitude'].shift(-1).fillna(method='ffill')
    legs['end station longitude'] = legs['start station longitude'].shift(-1).fillna(method='ffill')
    legs['route_id'] = 1 # arbitrary
    legs['direction'] = df['direction_id']
    legs['trainName'] = df['route_long_name']

    triplist.append(legs)

In [50]:
triplist[1]

,starttime,stoptime,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,route_id,direction,trainName
0,2015-01-05 02:00:00,2015-01-05 02:00:34,34,504384,JAMAICA AV/170 ST,40.707287,-73.789581,503185.0,JAMAICA AV/168 PL,40.706787,-73.791458,1,1,Broadway Junction - Jamaica
1,2015-01-05 02:00:34,2015-01-05 02:01:38,64,503185,JAMAICA AV/168 PL,40.706787,-73.791458,504535.0,JAMAICA AV/165 ST,40.705578,-73.794777,1,1,Broadway Junction - Jamaica
2,2015-01-05 02:01:38,2015-01-05 02:02:44,66,504535,JAMAICA AV/165 ST,40.705578,-73.794777,503953.0,JAMAICA AV/162 ST,40.704224,-73.798172,1,1,Broadway Junction - Jamaica
3,2015-01-05 02:02:44,2015-01-05 02:03:33,49,503953,JAMAICA AV/162 ST,40.704224,-73.798172,503932.0,JAMAICA AV/PARSONS BL,40.703278,-73.800682,1,1,Broadway Junction - Jamaica
4,2015-01-05 02:03:33,2015-01-05 02:04:40,67,503932,JAMAICA AV/PARSONS BL,40.703278,-73.800682,502145.0,JAMAICA AV/150 ST,40.702229,-73.804329,1,1,Broadway Junction - Jamaica
5,2015-01-05 02:04:40,2015-01-05 02:06:00,80,502145,JAMAICA AV/150 ST,40.702229,-73.804329,503184.0,JAMAICA AV/146 ST,40.701828,-73.808846,1,1,Broadway Junction - Jamaica
6,2015-01-05 02:06:00,2015-01-05 02:06:58,58,503184,JAMAICA AV/146 ST,40.701828,-73.808846,504198.0,JAMAICA AV/144 ST,40.702312,-73.811432,1,1,Broadway Junction - Jamaica
7,2015-01-05 02:06:58,2015-01-05 02:08:00,62,504198,JAMAICA AV/144 ST,40.702312,-73.811432,504199.0,JAMAICA AV/QUEENS BL,40.702587,-73.814247,1,1,Broadway Junction - Jamaica
8,2015-01-05 02:08:00,2015-01-05 02:08:27,27,504199,JAMAICA AV/QUEENS BL,40.702587,-73.814247,504293.0,JAMAICA AV/138 ST,40.702545,-73.815773,1,1,Broadway Junction - Jamaica
9,2015-01-05 02:08:27,2015-01-05 02:09:06,39,504293,JAMAICA AV/138 ST,40.702545,-73.815773,504080.0,JAMAICA AV/METROPOLITAN AV,40.702457,-73.817993,1,1,Broadway Junction - Jamaica
10,2015-01-05 02:09:06,2015-01-05 02:09:56,50,504080,JAMAICA AV/METROPOLITAN AV,40.702457,-73.817993,503415.0,JAMAICA AV/132 ST,40.702126,-73.820801,1,1,Broadway Junction - Jamaica
11,2015-01-05 02:09:56,2015-01-05 02:10:37,41,503415,JAMAICA AV/132 ST,40.702126,-73.820801,503416.0,JAMAICA AV/130 ST,40.701694,-73.823029,1,1,Broadway Junction - Jamaica
12,2015-01-05 02:10:37,2015-01-05 02:11:00,23,503416,JAMAICA AV/130 ST,40.701694,-73.823029,503417.0,JAMAICA AV/127 ST,40.701378,-73.824287,1,1,Broadway Junction - Jamaica
13,2015-01-05 02:11:00,2015-01-05 02:11:45,45,503417,JAMAICA AV/127 ST,40.701378,-73.824287,503418.0,JAMAICA AV/124 ST,40.700832,-73.826736,1,1,Broadway Junction - Jamaica
14,2015-01-05 02:11:45,2015-01-05 02:12:22,37,503418,JAMAICA AV/124 ST,40.700832,-73.826736,503419.0,JAMAICA AV/122 ST,40.700497,-73.828743,1,1,Broadway Junction - Jamaica
15,2015-01-05 02:12:22,2015-01-05 02:13:00,38,503419,JAMAICA AV/122 ST,40.700497,-73.828743,503420.0,JAMAICA AV/LEFFERTS BL,40.700092,-73.830841,1,1,Broadway Junction - Jamaica
16,2015-01-05 02:13:00,2015-01-05 02:13:19,19,503420,JAMAICA AV/LEFFERTS BL,40.700092,-73.830841,503421.0,JAMAICA AV/118 ST,40.699757,-73.832085,1,1,Broadway Junction - Jamaica
17,2015-01-05 02:13:19,2015-01-05 02:13:44,25,503421,JAMAICA AV/118 ST,40.699757,-73.832085,503422.0,JAMAICA AV/116 ST,40.699024,-73.833611,1,1,Broadway Junction - Jamaica
18,2015-01-05 02:13:44,2015-01-05 02:14:12,28,503422,JAMAICA AV/116 ST,40.699024,-73.833611,503423.0,JAMAICA AV/114 ST,40.698143,-73.835197,1,1,Broadway Junction - Jamaica
19,2015-01-05 02:14:12,2015-01-05 02:14:39,27,503423,JAMAICA AV/114 ST,40.698143,-73.835197,503424.0,JAMAICA AV/112 ST,40.697243,-73.836731,1,1,Broadway Junction - Jamaica
20,2015-01-05 02:14:39,2015-01-05 02:15:08,29,503424,JAMAICA AV/112 ST,40.697243,-73.836731,503426.0,JAMAICA AV/110 ST,40.696224,-73.838234,1,1,Broadway Junction - Jamaica
21,2015-01-05 02:15:08,2015-01-05 02:15:36,28,503426,JAMAICA AV/110 ST,40.696224,-73.838234,503427.0,JAMAICA AV/108 ST,40.695530,-73.839897,1,1,Broadway Junction - Jamaica
22,2015-01-05 02:15:36,2015-01-05 02:16:00,24,503427,JAMAICA AV/108 ST,40.695530,-73.839897,503428.0,JAMAICA AV/106 ST,40.695301,-73.841583,1,1,Broadway Junction - Jamaica
23,2015-01-05 02:16:00,2015-01-05 02:16:32,32,503428,JAMAICA AV/106 ST,40.695301,-73.841583,503429.0,JAMAICA AV/104 ST,40.695244,-73.843422,1,1,Broadway Junction - Jamaica
24,2015-01-05 02:16:32,2015-01-05 02:17:13,41,503429,JAMAICA AV/104 ST,40.695244,-73.843422,503430.0,JAMAICA AV/102 ST,40.695175,-73.845863,1,1,Broadway Junction - Jamaica
25,2015-01-05 02:17:13,2015-01-05 02:17:44,31,503430,JAMAICA AV/102 ST,40.695175,-73.845863,503431.0,JAMAICA AV/98 ST,40.694847,-73.847656,1,1,Broadway Junction - Jamaica
26,2015-01-05 02:17:44,2015-01-05 02:18:08,24,503431,JAMAICA AV/98 ST,40.694847,-73.847656,503432.0,JAMAICA AV/96 ST,40.694576,-73.849052,1,1,Broadway Junction - Jamaica
27,2015-01-05 02:18:08,2015-01-05 02:18:42,34,503432,JAMAICA AV/96 ST,40.694576,-73.849052,503433.0,JAMAICA AV/94 ST,40.694157,-73.850960,1,1,Broadway Junction - Jamaica
28,2015-01-05 02:18:42,2015-01-05 02:19:00,18,503433,JAMAICA AV/94 ST,40.694157,-73.850960,503434.0,JAMAICA AV/WOODHAVEN BL,40.693775,-73.851913,1,1,Broadway Junction - Jamaica
29,2015-01-05 02:19:00,2015-01-05 02:19:13,13,503434,JAMAICA AV/WOODHAVEN BL,40.693775,-73.851913,503435.0,JAMAICA AV/WOODHAVEN BL WEST,40.693485,-73.852829,1,1,Broadway Junction - Jamaica
30,2015-01-05 02:19:13,2015-01-05 02:19:44,31,503435,JAMAICA AV/WOODHAVEN BL WEST,40.693485,-73.852829,503436.0,JAMAICA AV/90 ST,40.692825,-73.855095,1,1,Broadway Junction - Jamaica
31,2015-01-05 02:19:44,2015-01-05 02:20:07,23,503436,JAMAICA AV/90 ST,40.692825,-73.855095,503437.0,JAMAICA AV/88 ST,40.692703,-73.856903,1,1,Broadway Junction - Jamaica
32,2015-01-05 02:20:07,2015-01-05 02:20:29,22,503437,JAMAICA AV/88 ST,40.692703,-73.856903,503438.0,JAMAICA AV/86 ST,40.692604,-73.858620,1,1,Broadway Junction - Jamaica
33,2015-01-05 02:20:29,2015-01-05 02:21:04,35,503438,JAMAICA AV/86 ST,40.692604,-73.858620,503439.0,JAMAICA AV/FOREST PY,40.692318,-73.861336,1,1,Broadway Junction - Jamaica
34,2015-01-05 02:21:04,2015-01-05 02:21:23,19,503439,JAMAICA AV/FOREST PY,40.692318,-73.861336,503440.0,JAMAICA AV/80 ST,40.692097,-73.862854,1,1,Broadway Junction - Jamaica
35,2015-01-05 02:21:23,2015-01-05 02:21:45,22,503440,JAMAICA AV/80 ST,40.692097,-73.862854,503441.0,JAMAICA AV/78 ST,40.691818,-73.864487,1,1,Broadway Junction - Jamaica
36,2015-01-05 02:21:45,2015-01-05 02:22:04,19,503441,JAMAICA AV/78 ST,40.691818,-73.864487,503442.0,JAMAICA AV/76 ST,40.691559,-73.866013,1,1,Broadway Junction - Jamaica
37,2015-01-05 02:22:04,2015-01-05 02:22:18,14,503442,JAMAICA AV/76 ST,40.691559,-73.866013,503443.0,JAMAICA AV/DEXTER CT,40.691391,-73.867096,1,1,Broadway Junction - Jamaica
38,2015-01-05 02:22:18,2015-01-05 02:22:36,18,503443,JAMAICA AV/DEXTER CT,40.691391,-73.867096,308162.0,JAMAICA AV/ELDERT LA,40.691170,-73.868484,1,1,Broadway Junction - Jamaica
39,2015-01-05 02:22:36,2015-01-05 02:23:15,39,308162,JAMAICA AV/ELDERT LA,40.691170,-73.868484,304624.0,JAMAICA AV/LINCOLN AV,40.690456,-73.871338,1,1,Broadway Junction - Jamaica
40,2015-01-05 02:23:15,2015-01-05 02:23:32,17,304624,JAMAICA AV/LINCOLN AV,40.690456,-73.871338,304625.0,JAMAICA AV/HEMLOCK ST,40.689999,-73.872581,1,1,Broadway Junction - Jamaica
41,2015-01-05 02:23:32,2015-01-05 02:24:00,28,304625,JAMAICA AV/HEMLOCK ST,40.689999,-73.872581,306362.0,JAMAICA AV/CRESCENT ST,40.689159,-73.874504,1,1,Broadway Junction - Jamaica
42,2015-01-05 02:24:00,2015-01-05 02:24:31,31,306362,JAMAICA AV/CRESCENT ST,40.689159,-73.874504,308161.0,JAMAICA AV/CYPRESS HILLS ST,40.688393,-73.876205,1,1,Broadway Junction - Jamaica
43,2015-01-05 02:24:31,2015-01-05 02:25:10,39,308161,JAMAICA AV/CYPRESS HILLS ST,40.688393,-73.876205,304628.0,JAMAICA AV/RICHMOND ST,40.687332,-73.878334,1,1,Broadway Junction - Jamaica
44,2015-01-05 02:25:10,2015-01-05 02:25:53,43,304628,JAMAICA AV/RICHMOND ST,40.687332,-73.878334,304629.0,JAMAICA AV/NORWOOD AV,40.686150,-73.880684,1,1,Broadway Junction - Jamaica
45,2015-01-05 02:25:53,2015-01-05 02:26:30,37,304629,JAMAICA AV/NORWOOD AV,40.686150,-73.880684,304630.0,JAMAICA AV/HIGHLAND BL,40.685192,-73.882721,1,1,Broadway Junction - Jamaica
46,2015-01-05 02:26:30,2015-01-05 02:27:15,45,304630,JAMAICA AV/HIGHLAND BL,40.685192,-73.882721,304632.0,JAMAICA AV/LINWOOD ST,40.684025,-73.885216,1,1,Broadway Junction - Jamaica
47,2015-01-05 02:27:15,2015-01-05 02:27:47,32,304632,JAMAICA AV/LINWOOD ST,40.684025,-73.885216,304633.0,JAMAICA AV/CLEVELAND ST,40.683201,-73.886963,1,1,Broadway Junction - Jamaica
48,2015-01-05 02:27:47,2015-01-05 02:28:08,21,304633,JAMAICA AV/CLEVELAND ST,40.683201,-73.886963,304634.0,JAMAICA AV/WARWICK ST,40.682648,-73.888138,1,1,Broadway Junction - Jamaica
49,2015-01-05 02:28:08,2015-01-05 02:28:45,37,304634,JAMAICA AV/WARWICK ST,40.682648,-73.888138,304635.0,JAMAICA AV/BARBEY ST,40.681686,-73.890152,1,1,Broadway Junction - Jamaica
50,2015-01-05 02:28:45,2015-01-05 02:29:16,31,304635,JAMAICA AV/BARBEY ST,40.681686,-73.890152,304636.0,JAMAICA AV/HENDRIX ST,40.680847,-73.891899,1,1,Broadway Junction - Jamaica
51,2015-01-05 02:29:16,2015-01-05 02:29:47,31,304636,JAMAICA AV/HENDRIX ST,40.680847,-73.891899,307859.0,JAMAICA AV/MILLER AV,40.680054,-73.893555,1,1,Broadway Junction - Jamaica
52,2015-01-05 02:29:47,2015-01-05 02:30:47,60,307859,JAMAICA AV/MILLER AV,40.680054,-73.893555,307704.0,JAMAICA AV/MARGINAL ST E,40.678524,-73.896904,1,1,Broadway Junction - Jamaica
53,2015-01-05 02:30:47,2015-01-05 02:31:20,33,307704,JAMAICA AV/MARGINAL ST E,40.678524,-73.896904,301384.0,JAMAICA AV/FANCHON PL,40.677662,-73.898727,1,1,Broadway Junction - Jamaica
54,2015-01-05 02:31:20,2015-01-05 02:32:00,40,301384,JAMAICA AV/FANCHON PL,40.677662,-73.898727,308439.0,JAMAICA AV/HERKIMER ST,40.677433,-73.900803,1,1,Broadway Junction - Jamaica
55,2015-01-05 02:32:00,2015-01-05 02:33:00,60,308439,JAMAICA AV/HERKIMER ST,40.677433,-73.900803,801063.0,VAN SINDEREN AV/FULTON ST,40.678608,-73.903664,1,1,Broadway Junction - Jamaica
56,2015-01-05 02:33:00,2015-01-05 02:33:00,0,801063,VAN SINDEREN AV/FULTON ST,40.678608,-73.903664,801063.0,VAN SINDEREN AV/FULTON ST,40.678608,-73.903664,1,1,Broadway Junction - Jamaica

Concatenate the list of dataframes:

In [ ]:
data = pd.concat(triplist)

In [ ]:
len(data)

In [ ]:
data.head(2)

In [ ]:
data.tail(2)

In [ ]:
data.to_csv('brooklyn_monday_test.csv')

# Queens

### Load GTFS data

In [ ]:
agency = pd.read_csv('gtfs/queens/agency.txt')
calendar_dates = pd.read_csv('gtfs/queens/calendar_dates.txt')
calendar = pd.read_csv('gtfs/queens/calendar.txt')
routes = pd.read_csv('gtfs/queens/routes.txt')
shapes = pd.read_csv('gtfs/queens/shapes.txt')
stop_times = pd.read_csv('gtfs/queens/stop_times.txt')
stops = pd.read_csv('gtfs/queens/stops.txt')
trips = pd.read_csv('gtfs/queens/trips.txt')

In [ ]:
service_trip_id = pd.merge(calendar[['service_id']],trips[['service_id', 'trip_id']])
calendar = pd.merge(calendar,service_trip_id)
arbitrary_dates = ['1/5/2015', '1/6/2015']

### Monday

In [ ]:
monday = calendar[calendar['monday'] == 1]
tuesday = calendar[calendar['tuesday'] == 1]
wednesday = calendar[calendar['wednesday'] == 1]
thursday = calendar[calendar['thursday'] == 1]
friday = calendar[calendar['friday'] == 1]
saturday = calendar[calendar['saturday'] == 1]
sunday = calendar[calendar['sunday'] == 1]

In [ ]:
triplist = []

In [ ]:
monday_trips = monday['trip_id']
print "There are ", len(monday_trips), "trips on Monday"
monday_trips.head()

In [ ]:
for i in monday_trips:
    df = stop_times[stop_times['trip_id'] == i]
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])


    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction id
    df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')

    # make a new dataframe called legs
    legs = pd.DataFrame()
    legs['starttime'] = df['departure_datetime']
    legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
    legs['tripduration'] = (legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')
    legs['tripduration'] = [int(x) for x in legs['tripduration']]
    legs['start station id'] = df['stop_id']
    legs['start station name'] = df['stop_name']
    legs['start station latitude'] = df['stop_lat']
    legs['start station longitude'] = df['stop_lon']
    legs['end station id'] = legs['start station id'].shift(-1).fillna(method='ffill')
    legs['end station name'] = legs['start station name'].shift(-1).fillna(method='ffill')
    legs['end station latitude'] = legs['start station latitude'].shift(-1).fillna(method='ffill')
    legs['end station longitude'] = legs['start station longitude'].shift(-1).fillna(method='ffill')
    legs['route_id'] = 1 # arbitrary
    legs['direction'] = df['direction_id']
    legs['trainName'] = df['route_long_name']

    triplist.append(legs)

In [ ]:
triplist[1]

In [ ]:
data = pd.concat(triplist)

In [ ]:
len(data)

In [ ]:
data.head(2)

In [ ]:
data.tail(2)

In [ ]:
data.to_csv('queens_monday.csv')

# Manhattan

### Load GTFS data

In [ ]:
agency = pd.read_csv('gtfs/manhattan/agency.txt')
calendar_dates = pd.read_csv('gtfs/manhattan/calendar_dates.txt')
calendar = pd.read_csv('gtfs/manhattan/calendar.txt')
routes = pd.read_csv('gtfs/manhattan/routes.txt')
shapes = pd.read_csv('gtfs/manhattan/shapes.txt')
stop_times = pd.read_csv('gtfs/manhattan/stop_times.txt')
stops = pd.read_csv('gtfs/manhattan/stops.txt')
trips = pd.read_csv('gtfs/manhattan/trips.txt')

service_trip_id = pd.merge(calendar[['service_id']],trips[['service_id', 'trip_id']])
calendar = pd.merge(calendar,service_trip_id)
arbitrary_dates = ['1/5/2015', '1/6/2015']

monday = calendar[calendar['monday'] == 1]
tuesday = calendar[calendar['tuesday'] == 1]
wednesday = calendar[calendar['wednesday'] == 1]
thursday = calendar[calendar['thursday'] == 1]
friday = calendar[calendar['friday'] == 1]
saturday = calendar[calendar['saturday'] == 1]
sunday = calendar[calendar['sunday'] == 1]

triplist = []

monday_trips = monday['trip_id']
print "There are ", len(monday_trips), "trips on Monday"
monday_trips.head()

### Monday

In [ ]:
for i in monday_trips:
    df = stop_times[stop_times['trip_id'] == i]
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])


    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction id
    df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')

    # make a new dataframe called legs
    legs = pd.DataFrame()
    legs['starttime'] = df['departure_datetime']
    legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
    legs['tripduration'] = (legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')
    legs['tripduration'] = [int(x) for x in legs['tripduration']]
    legs['start station id'] = df['stop_id']
    legs['start station name'] = df['stop_name']
    legs['start station latitude'] = df['stop_lat']
    legs['start station longitude'] = df['stop_lon']
    legs['end station id'] = legs['start station id'].shift(-1).fillna(method='ffill')
    legs['end station name'] = legs['start station name'].shift(-1).fillna(method='ffill')
    legs['end station latitude'] = legs['start station latitude'].shift(-1).fillna(method='ffill')
    legs['end station longitude'] = legs['start station longitude'].shift(-1).fillna(method='ffill')
    legs['route_id'] = 1 # arbitrary
    legs['direction'] = df['direction_id']
    legs['trainName'] = df['route_long_name']

    triplist.append(legs)

In [ ]:
data = pd.concat(triplist)
data.to_csv('manhattan_monday.csv')

# Bronx

### Load GTFS data

In [ ]:
agency = pd.read_csv('gtfs/bronx/agency.txt')
calendar_dates = pd.read_csv('gtfs/bronx/calendar_dates.txt')
calendar = pd.read_csv('gtfs/bronx/calendar.txt')
routes = pd.read_csv('gtfs/bronx/routes.txt')
shapes = pd.read_csv('gtfs/bronx/shapes.txt')
stop_times = pd.read_csv('gtfs/bronx/stop_times.txt')
stops = pd.read_csv('gtfs/bronx/stops.txt')
trips = pd.read_csv('gtfs/bronx/trips.txt')

service_trip_id = pd.merge(calendar[['service_id']],trips[['service_id', 'trip_id']])
calendar = pd.merge(calendar,service_trip_id)
arbitrary_dates = ['1/5/2015', '1/6/2015']

monday = calendar[calendar['monday'] == 1]
tuesday = calendar[calendar['tuesday'] == 1]
wednesday = calendar[calendar['wednesday'] == 1]
thursday = calendar[calendar['thursday'] == 1]
friday = calendar[calendar['friday'] == 1]
saturday = calendar[calendar['saturday'] == 1]
sunday = calendar[calendar['sunday'] == 1]

triplist = []

monday_trips = monday['trip_id']
print "There are ", len(monday_trips), "trips on Monday"
monday_trips.head()

### Monday

In [ ]:
for i in monday_trips:
    df = stop_times[stop_times['trip_id'] == i]
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])


    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction id
    df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')

    # make a new dataframe called legs
    legs = pd.DataFrame()
    legs['starttime'] = df['departure_datetime']
    legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
    legs['tripduration'] = (legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')
    legs['tripduration'] = [int(x) for x in legs['tripduration']]
    legs['start station id'] = df['stop_id']
    legs['start station name'] = df['stop_name']
    legs['start station latitude'] = df['stop_lat']
    legs['start station longitude'] = df['stop_lon']
    legs['end station id'] = legs['start station id'].shift(-1).fillna(method='ffill')
    legs['end station name'] = legs['start station name'].shift(-1).fillna(method='ffill')
    legs['end station latitude'] = legs['start station latitude'].shift(-1).fillna(method='ffill')
    legs['end station longitude'] = legs['start station longitude'].shift(-1).fillna(method='ffill')
    legs['route_id'] = 1 # arbitrary
    legs['direction'] = df['direction_id']
    legs['trainName'] = df['route_long_name']

    triplist.append(legs)

In [ ]:
data = pd.concat(triplist)
data.to_csv('bronx_monday.csv')

# Staten Island

### Load GTFS data

In [ ]:
agency = pd.read_csv('gtfs/staten_island/agency.txt')
calendar_dates = pd.read_csv('gtfs/staten_island/calendar_dates.txt')
calendar = pd.read_csv('gtfs/staten_island/calendar.txt')
routes = pd.read_csv('gtfs/staten_island/routes.txt')
shapes = pd.read_csv('gtfs/staten_island/shapes.txt')
stop_times = pd.read_csv('gtfs/staten_island/stop_times.txt')
stops = pd.read_csv('gtfs/staten_island/stops.txt')
trips = pd.read_csv('gtfs/staten_island/trips.txt')

service_trip_id = pd.merge(calendar[['service_id']],trips[['service_id', 'trip_id']])
calendar = pd.merge(calendar,service_trip_id)
arbitrary_dates = ['1/5/2015', '1/6/2015']

monday = calendar[calendar['monday'] == 1]
tuesday = calendar[calendar['tuesday'] == 1]
wednesday = calendar[calendar['wednesday'] == 1]
thursday = calendar[calendar['thursday'] == 1]
friday = calendar[calendar['friday'] == 1]
saturday = calendar[calendar['saturday'] == 1]
sunday = calendar[calendar['sunday'] == 1]

triplist = []

monday_trips = monday['trip_id']
print "There are ", len(monday_trips), "trips on Monday"
monday_trips.head()

### Monday

In [ ]:
for i in monday_trips:
    df = stop_times[stop_times['trip_id'] == i]
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])


    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction id
    df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')

    # make a new dataframe called legs
    legs = pd.DataFrame()
    legs['starttime'] = df['departure_datetime']
    legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
    legs['tripduration'] = (legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')
    legs['tripduration'] = [int(x) for x in legs['tripduration']]
    legs['start station id'] = df['stop_id']
    legs['start station name'] = df['stop_name']
    legs['start station latitude'] = df['stop_lat']
    legs['start station longitude'] = df['stop_lon']
    legs['end station id'] = legs['start station id'].shift(-1).fillna(method='ffill')
    legs['end station name'] = legs['start station name'].shift(-1).fillna(method='ffill')
    legs['end station latitude'] = legs['start station latitude'].shift(-1).fillna(method='ffill')
    legs['end station longitude'] = legs['start station longitude'].shift(-1).fillna(method='ffill')
    legs['route_id'] = 1 # arbitrary
    legs['direction'] = df['direction_id']
    legs['trainName'] = df['route_long_name']

    triplist.append(legs)

In [ ]:
data = pd.concat(triplist)
data.to_csv('staten_island_monday.csv')